
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.quiz-form {
    font-family: 'BigNoodleTitling';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.quiz {
    font-family: 'BigNoodleTitling';
    color: white;
    text-shadow: 2px 2px #000;
    &.quiz-title {
        font-size: 3em;
        letter-spacing: 0.05em;
        text-shadow: 3px 3px 8px black;
        @media screen and (max-width: 960px) {
            font-size: ((3em)/1.7);
        }
    }
    &.quiz-answer {
        font-size: 2em;
        letter-spacing: 0.05em;
        text-shadow: 3px 3px 8px black;
        @media screen and (max-width: 960px) {
            font-size: ((2em)/1.7);
        }
    }
}

.form-col {
    overflow-y: scroll;
}

.form-check {
    background-color: white;
    color: black;
    border-bottom: 1px solid #d7d7d7;
    letter-spacing: 0px;
}

.checkgroup {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    .col-auto {
        background-color: white;
        color: black;
        border-bottom: 1px solid #d7d7d7;
    }
    .col {
        background-color: white;
        border-bottom: 1px solid #d7d7d7;
    }
}


@keyframes lds-blocks {
    0% {
        background: #e6e4df;
    }
    8.333333333333334% {
        background: #e6e4df;
    }
    8.416666666666666% {
        background: #a09f9f;
    }
    100% {
        background: #a09f9f;
    }
}
@-webkit-keyframes lds-blocks {
    0% {
        background: #e6e4df;
    }
    8.333333333333334% {
        background: #e6e4df;
    }
    8.416666666666666% {
        background: #a09f9f;
    }
    100% {
        background: #a09f9f;
    }
}
.lds-blocks {
    position: relative;
}
.lds-blocks div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #a09f9f;
    -webkit-animation: lds-blocks 0.6s linear infinite;
    animation: lds-blocks 0.6s linear infinite;
}
.lds-blocks {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
p.finish-text {
    font-family: 'BigNoodleTitling';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 3.4em;
    letter-spacing: 0.025em;
    @media screen and (max-width: 960px) {
        font-size: ((3.4em)/1.3);
    }
}

p.time-text {
    font-family: 'BigNoodleTitling';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 14em;
    letter-spacing: 0.025em;
    @media screen and (max-width: 960px) {
        font-size: ((14em)/2.5);
    }
    @media screen and (max-width: 576px) {
        font-size: ((14em)/3.5);
    }
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
    width: 18px;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}
