@font-face {
    font-family: 'BigNoodleTitling';
    src: url('BigNoodleTitling.woff2') format('woff2'),
        url('BigNoodleTitling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'BigNoodleTitling';
        src: url('BigNoodleTitling.woff2') format('woff2'),
        url('BigNoodleTitling.woff') format('woff');
    }
}
